<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.cloud.sysadmin.organization.dao.UserMapper">

    <resultMap id="user" type="com.springboot.cloud.sysadmin.organization.entity.vo.UserVo"></resultMap>
    <parameterMap id="userParam" type="com.springboot.cloud.sysadmin.organization.entity.param.UserQueryParam"></parameterMap>

    <select id="getUserList" resultMap="user"
            parameterMap="userParam">
        select u.id,u.username,u.name,GROUP_CONCAT(r.name) AS roles,u.mobile,u.email
        from users u left join user_role_relation ur
                               on u.id = ur.user_id
                     left join roles r
                               on r.id = ur.role_id
        where 1=1
        <if test="userQueryParam.username != null and userQueryParam.username != ''">
            and u.username like concat('%',#{userQueryParam.username},'%')
        </if>
        <if test="userQueryParam.name != null and userQueryParam.name != ''">
            and u.name like concat('%',#{userQueryParam.name},'%')
        </if>
            <!---->

        group by u.id
    </select>


</mapper>
